<h1 class="text-light text-center">Checklist</h1>

<div class="container rounded">


    <div class="row">
        <div class="col-5 container-flex text-center round">
            <h3>Things To Do</h3>
            <ul>
                {{#each checklist}}
                {{#unless this.completed}}
                <li class="text-justify">{{this.checklist_item}} <button class="btn btn-outline-primary btn-sm update_item"
                        value="{{this.id}}">Finished!!!</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-2"></div>
        <div class="col-5 container-flex text-center round">
            <h3>Things I've Done</h3>
            <ul>
                {{#each checklist}}
                {{#if this.completed}}
                <li class="text-justify">{{this.checklist_item}}<button class="btn btn-outline-success btn-sm delete_item"
                        value="{{this.id}}">Delete</button></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <form action="/api/create" method="POST">
                <div class="form-group">
                    <label for="newItem">Add a magical Item</label>
                    <input type="text" class="form-control" name="newItem" placeholder="Enter Item Here">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>