/*================================= TAGS =================================================*/
body { 
    background: url('../images/unicorn-wallpaper-3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*================================= TAGS =================================================*/

/*================================= CLASSES===============================================*/
.container {
    background-color: rgb(220, 108, 248);
    opacity: .65;
}
.container-flex {
    background-color: pink;
    opacity: 1.35;
}
/*================================= CLASSES===============================================*/

/*================================= ID'S =================================================*/

/*================================= ID'S =================================================*/